@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(0.9701 0.0041 91.4464);
  --foreground: oklch(0.3041 0.0216 32.2341);
  --card: oklch(0.9701 0.0041 91.4464);
  --card-foreground: oklch(0.3041 0.0216 32.2341);
  --popover: oklch(0.9701 0.0041 91.4464);
  --popover-foreground: oklch(0.3041 0.0216 32.2341);
  --primary: oklch(0.4886 0.0875 145.0057);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9539 0.0119 145.4816);
  --secondary-foreground: oklch(0.3942 0.078 145.4369);
  --muted: oklch(0.9355 0.0091 78.2803);
  --muted-foreground: oklch(0.4499 0.0287 37.339);
  --accent: oklch(0.8885 0.03 146.8808);
  --accent-foreground: oklch(0.3942 0.078 145.4369);
  --destructive: oklch(0.5242 0.1247 22.3367);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8758 0.0116 71.8858);
  --input: oklch(0.8758 0.0116 71.8858);
  --ring: oklch(0.4886 0.0875 145.0057);
  --chart-1: oklch(0.6339 0.1043 144.9737);
  --chart-2: oklch(0.5398 0.0938 145.408);
  --chart-3: oklch(0.4886 0.0875 145.0057);
  --chart-4: oklch(0.3942 0.078 145.4369);
  --chart-5: oklch(0.2293 0.0337 145.9437);
  --sidebar: oklch(0.9355 0.0091 78.2803);
  --sidebar-foreground: oklch(0.3041 0.0216 32.2341);
  --sidebar-primary: oklch(0.4886 0.0875 145.0057);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8885 0.03 146.8808);
  --sidebar-accent-foreground: oklch(0.3942 0.078 145.4369);
  --sidebar-border: oklch(0.8758 0.0116 71.8858);
  --sidebar-ring: oklch(0.4886 0.0875 145.0057);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.675rem;
  --shadow-x: 0.5px;
  --shadow-y: 1.5px;
  --shadow-blur: 3px;
  --shadow-spread: 1.5px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.06);
  --shadow-xs: 0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.06);
  --shadow-sm:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 1px 2px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 1px 2px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-md:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 2px 4px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-lg:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 4px 6px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-xl:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 8px 10px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-2xl: 0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2627 0.0159 152.8027);
  --foreground: oklch(0.9413 0.0063 75.4054);
  --card: oklch(0.3277 0.0154 145.2119);
  --card-foreground: oklch(0.9413 0.0063 75.4054);
  --popover: oklch(0.3277 0.0154 145.2119);
  --popover-foreground: oklch(0.9413 0.0063 75.4054);
  --primary: oklch(0.6339 0.1043 144.9737);
  --primary-foreground: oklch(0.2293 0.0337 145.9437);
  --secondary: oklch(0.3891 0.0148 145.2833);
  --secondary-foreground: oklch(0.8951 0.0097 140.5146);
  --muted: oklch(0.2895 0.0123 150.2239);
  --muted-foreground: oklch(0.8537 0.0099 72.6484);
  --accent: oklch(0.5398 0.0938 145.408);
  --accent-foreground: oklch(0.9413 0.0063 75.4054);
  --destructive: oklch(0.5242 0.1247 22.3367);
  --destructive-foreground: oklch(0.9413 0.0063 75.4054);
  --border: oklch(0.3891 0.0148 145.2833);
  --input: oklch(0.3891 0.0148 145.2833);
  --ring: oklch(0.6339 0.1043 144.9737);
  --chart-1: oklch(0.7444 0.0725 146.0177);
  --chart-2: oklch(0.6888 0.0893 145.4681);
  --chart-3: oklch(0.6339 0.1043 144.9737);
  --chart-4: oklch(0.5909 0.0987 145.0029);
  --chart-5: oklch(0.5398 0.0938 145.408);
  --sidebar: oklch(0.2627 0.0159 152.8027);
  --sidebar-foreground: oklch(0.9413 0.0063 75.4054);
  --sidebar-primary: oklch(0.6339 0.1043 144.9737);
  --sidebar-primary-foreground: oklch(0.2293 0.0337 145.9437);
  --sidebar-accent: oklch(0.5398 0.0938 145.408);
  --sidebar-accent-foreground: oklch(0.9413 0.0063 75.4054);
  --sidebar-border: oklch(0.3891 0.0148 145.2833);
  --sidebar-ring: oklch(0.6339 0.1043 144.9737);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.675rem;
  --shadow-x: 0.5px;
  --shadow-y: 1.5px;
  --shadow-blur: 3px;
  --shadow-spread: 1.5px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.06);
  --shadow-xs: 0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.06);
  --shadow-sm:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 1px 2px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 1px 2px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-md:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 2px 4px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-lg:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 4px 6px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-xl:
    0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.12), 0.5px 8px 10px 0.5px
    hsl(0 0% 0% / 0.12);
  --shadow-2xl: 0.5px 1.5px 3px 1.5px hsl(0 0% 0% / 0.3);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
