@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Comfortaa, ui-serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Merriweather, ui-serif, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.425rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

:root {
  --background: oklch(0.985 0.001 106.423);
  --foreground: oklch(0.21 0.006 285.885);
  --card: oklch(0.97 0.001 106.424);
  --card-foreground: oklch(0.374 0.01 67.558);
  --popover: oklch(0.97 0.001 106.424);
  --popover-foreground: oklch(0.374 0.01 67.558);
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.448 0.119 151.328);
  --secondary-foreground: oklch(0.962 0.044 156.743);
  --muted: oklch(0.923 0.003 48.717);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.962 0.044 156.743);
  --accent-foreground: oklch(0.527 0.154 150.069);
  --destructive: oklch(0.586 0.253 17.585);
  --destructive-foreground: oklch(0.969 0.015 12.422);
  --border: oklch(0.869 0.005 56.366);
  --input: oklch(0.925 0.084 155.995);
  --ring: oklch(0.723 0.219 149.579);
  --chart-1: oklch(0.7686 0.1647 70.0804);
  --chart-2: oklch(0.6658 0.1574 58.3183);
  --chart-3: oklch(0.5553 0.1455 48.9975);
  --chart-4: oklch(0.4732 0.1247 46.2007);
  --chart-5: oklch(0.4137 0.1054 45.9038);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.2686 0 0);
  --sidebar-primary: oklch(0.7686 0.1647 70.0804);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.962 0.044 156.743);
  --sidebar-accent-foreground: oklch(0.527 0.154 150.069);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.7686 0.1647 70.0804);
  --font-sans: Comfortaa, ui-serif, serif;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-x: 0.5px;
  --shadow-y: 1.5px;
  --shadow-blur: 8px;
  --shadow-spread: -0.5px;
  --shadow-opacity: 0.24;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 2px 3px 8px -0.5px hsl(0 0% 0% / 0.12);
  --shadow-xs: 2px 3px 8px -0.5px hsl(0 0% 0% / 0.12);
  --shadow-sm:
    2px 3px 8px -0.5px hsl(0 0% 0% / 0.24), 2px 1px 2px -1.5px
    hsl(0 0% 0% / 0.24);
  --shadow:
    2px 3px 8px -0.5px hsl(0 0% 0% / 0.24), 2px 1px 2px -1.5px
    hsl(0 0% 0% / 0.24);
  --shadow-md:
    2px 3px 8px -0.5px hsl(0 0% 0% / 0.24), 2px 2px 4px -1.5px
    hsl(0 0% 0% / 0.24);
  --shadow-lg:
    2px 3px 8px -0.5px hsl(0 0% 0% / 0.24), 2px 4px 6px -1.5px
    hsl(0 0% 0% / 0.24);
  --shadow-xl:
    2px 3px 8px -0.5px hsl(0 0% 0% / 0.24), 2px 8px 10px -1.5px
    hsl(0 0% 0% / 0.24);
  --shadow-2xl: 2px 3px 8px -0.5px hsl(0 0% 0% / 0.6);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.128 0.065 152.934);
  --card-foreground: oklch(0.962 0.044 156.743);
  --popover: oklch(0.156 0.065 152.934);
  --popover-foreground: oklch(0.869 0.005 56.366);
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.147 0.004 49.25);
  --secondary: oklch(0.646 0.222 41.116);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.196 0.065 152.934);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.266 0.065 152.934);
  --accent-foreground: oklch(0.869 0.005 56.366);
  --destructive: oklch(0.514 0.222 16.935);
  --destructive-foreground: oklch(0.941 0.03 12.58);
  --border: oklch(0.268 0.007 34.298);
  --input: oklch(0.266 0.065 152.934);
  --ring: oklch(0.527 0.154 150.069);
  --chart-1: oklch(0.766 0.1179 145.295);
  --chart-2: oklch(0.7185 0.1417 144.8887);
  --chart-3: oklch(0.6731 0.1624 144.2083);
  --chart-4: oklch(0.6291 0.1543 144.2031);
  --chart-5: oklch(0.5752 0.1446 144.1813);
  --sidebar: oklch(0.147 0.004 49.25);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.723 0.219 149.579);
  --sidebar-primary-foreground: oklch(0.147 0.004 49.25);
  --sidebar-accent: oklch(0.527 0.154 150.069);
  --sidebar-accent-foreground: oklch(0.869 0.005 56.366);
  --sidebar-border: oklch(0.268 0.007 34.298);
  --sidebar-ring: oklch(0.527 0.154 150.069);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

body {
  letter-spacing: var(--tracking-normal);
}

/* Override sidebar fixed positioning to work within container */
.group.peer[data-variant="floating"] > div:nth-child(2) {
  position: relative;
  inset: unset;
  left: unset;
  right: unset;
  height: calc(100vh - 4rem);
}

/* Hide the spacer div that compensates for fixed positioning */
.group.peer[data-variant="floating"] > div:first-child {
  display: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
