@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9824 0.0013 286.3757);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6960 0.1700 162.4800);
  --primary-foreground: oklch(0.9790 0.0210 166.1130);
  --secondary: oklch(0.6850 0.1690 237.3230);
  --secondary-foreground: oklch(0.9510 0.0260 236.8240);
  --muted: oklch(0.9230 0.0030 48.7170);
  --muted-foreground: oklch(0.5530 0.0130 58.0710);
  --accent: oklch(0.5080 0.1180 165.6120);
  --accent-foreground: oklch(0.9700 0.0010 106.4240);
  --destructive: oklch(0.6450 0.2460 16.4390);
  --destructive-foreground: oklch(0.9690 0.0150 12.4220);
  --border: oklch(0.8690 0.0050 56.3660);
  --input: oklch(0.7090 0.0100 56.2590);
  --ring: oklch(0.6960 0.1700 162.4800);
  --chart-1: oklch(0.6487 0.1538 150.3071);
  --chart-2: oklch(0.6746 0.1414 261.3380);
  --chart-3: oklch(0.8269 0.1080 211.9627);
  --chart-4: oklch(0.5880 0.0993 245.7394);
  --chart-5: oklch(0.5905 0.1608 148.2409);
  --sidebar: oklch(0.9824 0.0013 286.3757);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6960 0.1700 162.4800);
  --sidebar-primary-foreground: oklch(0.9790 0.0210 166.1130);
  --sidebar-accent: oklch(0.5080 0.1180 165.6120);
  --sidebar-accent-foreground: oklch(0.9700 0.0010 106.4240);
  --sidebar-border: oklch(0.8690 0.0050 56.3660);
  --sidebar-ring: oklch(0.6960 0.1700 162.4800);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.4rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.18;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0px 0px 4px 2px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 0px 4px 2px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 0px 4px 2px hsl(0 0% 0% / 0.18), 0px 1px 2px 1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 0px 4px 2px hsl(0 0% 0% / 0.18), 0px 1px 2px 1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 0px 4px 2px hsl(0 0% 0% / 0.18), 0px 2px 4px 1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 0px 4px 2px hsl(0 0% 0% / 0.18), 0px 4px 6px 1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 0px 4px 2px hsl(0 0% 0% / 0.18), 0px 8px 10px 1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 0px 4px 2px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.24rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.1640 0 0);
  --foreground: oklch(0.9230 0.0030 48.7170);
  --card: oklch(0.1450 0 0);
  --card-foreground: oklch(0.7090 0.0100 56.2590);
  --popover: oklch(0.1450 0 0);
  --popover-foreground: oklch(0.7090 0.0100 56.2590);
  --primary: oklch(0.5080 0.1180 165.6120);
  --primary-foreground: oklch(0.9790 0.0210 166.1130);
  --secondary: oklch(0.3910 0.0900 240.8760);
  --secondary-foreground: oklch(0.9010 0.0580 230.9020);
  --muted: oklch(0.1320 0.0040 49.2500);
  --muted-foreground: oklch(0.7090 0.0100 56.2590);
  --accent: oklch(0.4320 0.0950 166.9130);
  --accent-foreground: oklch(0.8700 0 0);
  --destructive: oklch(0.5860 0.2530 17.5850);
  --destructive-foreground: oklch(0.9410 0.0300 12.5800);
  --border: oklch(0.2690 0 0);
  --input: oklch(0.1470 0.0040 49.2500);
  --ring: oklch(0.5080 0.1180 165.6120);
  --chart-1: oklch(0.6487 0.1538 150.3071);
  --chart-2: oklch(0.5880 0.0993 245.7394);
  --chart-3: oklch(0.6746 0.1414 261.3380);
  --chart-4: oklch(0.8269 0.1080 211.9627);
  --chart-5: oklch(0.5905 0.1608 148.2409);
  --sidebar: oklch(0.1640 0 0);
  --sidebar-foreground: oklch(0.9230 0.0030 48.7170);
  --sidebar-primary: oklch(0.9050 0.0930 164.1500);
  --sidebar-primary-foreground: oklch(0.9790 0.0210 166.1130);
  --sidebar-accent: oklch(0.4320 0.0950 166.9130);
  --sidebar-accent-foreground: oklch(0.8700 0 0);
  --sidebar-border: oklch(0.2690 0 0);
  --sidebar-ring: oklch(0.5080 0.1180 165.6120);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.4rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.18;
  --shadow-color: oklch(0.696 0.17 162.48);
  --shadow-2xs: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.09);
  --shadow-xs: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.09);
  --shadow-sm: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.18), 0px 1px 2px 1px hsl(164.3318 183.0013% 26.1055% / 0.18);
  --shadow: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.18), 0px 1px 2px 1px hsl(164.3318 183.0013% 26.1055% / 0.18);
  --shadow-md: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.18), 0px 2px 4px 1px hsl(164.3318 183.0013% 26.1055% / 0.18);
  --shadow-lg: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.18), 0px 4px 6px 1px hsl(164.3318 183.0013% 26.1055% / 0.18);
  --shadow-xl: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.18), 0px 8px 10px 1px hsl(164.3318 183.0013% 26.1055% / 0.18);
  --shadow-2xl: 0px 0px 4px 2px hsl(164.3318 183.0013% 26.1055% / 0.45);
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
  --spacing: 0.24rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Source Serif 4, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.4rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

body {
  letter-spacing: var(--tracking-normal);
}

/* Override sidebar fixed positioning to work within container */
.group.peer[data-variant="floating"] > div:nth-child(2) {
  position: relative;
  inset: unset;
  left: unset;
  right: unset;
  height: calc(100vh - 4rem);
}

/* Hide the spacer div that compensates for fixed positioning */
.group.peer[data-variant="floating"] > div:first-child {
  display: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}